.messenger {
  height: calc(100vh - 20vh);
  display: flex;
  background: #181a20;
  }
  
  .chatMenu {
    flex: 3.5;
    background: #23272f;
    color: #e0e0e0;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 5.5;
    background: #23272f;
    color: #e0e0e0;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    background: #23272f;
  }
  
  .chatMessageInput {
    width: 85%;
    height: 45px;
    padding: 10px;
    border: none;
    background: #23272f;
    color: #e0e0e0;
  }
  
  .chatSubmitButton {
    width: 15%;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: #00bcd4;
    color: #181a20;
    font-weight: 600;
    border-radius: 6px;
    transition: background 0.2s;
    &:hover {
      background-color: #0097a7;
      color: #e0e0e0;
    }
     
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .messenger{
      height: calc(100vh - 21vh);
    }
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
    .chatMenuWrapper{
      padding: 0;
    }
    .chatOnline{
      display: none;
      flex: 1px;
    }
    .chatMessageInput{
      height: 45px;
    }
  }